<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../../css/navbar.css" rel="stylesheet">
    <link href="../../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../css/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/styles.css">
    <title>AutoDealerManager</title>
</head>
<body>
    <div id="mainContent" class="hidden">
    <!-- Modal para Agregar/Editar Cliente -->
    <div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customerModalLabel">Agregar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="customerForm">
                        <div class="mb-3">
                            <label for="customerName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="customerName" required>
                            <div class="invalid-feedback" id="errorCustomerName"></div>
                        </div>
                        <div class="mb-3">
                            <label for="customerLastName" class="form-label">Apellido Paterno</label>
                            <input type="text" class="form-control" id="customerLastName" required>
                            <div class="invalid-feedback" id="errorCustomerLastName"></div>
                        </div>
                        <div class="mb-3">
                            <label for="customerSurName" class="form-label">Apellido Materno</label>
                            <input type="text" class="form-control" id="customerSurName" required>
                            <div class="invalid-feedback" id="errorCustomerSurName"></div>
                        </div>
                        <div class="mb-3">
                            <label for="customerPhone" class="form-label">Teléfono</label>
                            <input type="text" class="form-control" id="customerPhone" required>
                            <div class="invalid-feedback" id="errorCustomerPhone"></div>
                        </div>
                        <div class="mb-3">
                            <label for="customerEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="customerEmail" required>
                            <div class="invalid-feedback" id="errorCustomerEmail"></div>
                        </div>
                        <div class="mb-3">
                            <label for="customerEmployee" class="form-label">Empleado</label>
                            <select class="form-select" id="customerEmployee" required>
                                <!-- Aquí se cargarán dinámicamente los empleados -->
                            </select>
                            
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="saveCustomer">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal para Agregar/Editar Cliente -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Actualizar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateForm">
                    <!-- Campo oculto para el ID del cliente -->
                    <input type="hidden" id="customerId">

                    <div class="mb-3">
                        <label for="u_customerName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="u_customerName" required>
                        <div class="invalid-feedback" id="errorCustomerName"></div>
                    </div>
                    <div class="mb-3">
                        <label for="u_customerLastName" class="form-label">Apellido Paterno</label>
                        <input type="text" class="form-control" id="u_customerLastName" required>
                        <div class="invalid-feedback" id="errorCustomerLastName"></div>
                    </div>
                    <div class="mb-3">
                        <label for="u_customerSurName" class="form-label">Apellido Materno</label>
                        <input type="text" class="form-control" id="u_customerSurName" required>
                        <div class="invalid-feedback" id="errorCustomerSurName"></div>
                    </div>
                    <div class="mb-3">
                        <label for="u_customerPhone" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="u_customerPhone" required>
                        <div class="invalid-feedback" id="errorCustomerPhone"></div>
                    </div>
                    <div class="mb-3">
                        <label for="u_customerEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="u_customerEmail" required>
                        <div class="invalid-feedback" id="errorCustomerEmail"></div>
                    </div>
                    <div class="mb-3">
                        <label for="u_customerEmployee" class="form-label">Empleado</label>
                        <select class="form-select" id="u_customerEmployee" >
                            <!-- Aquí se cargarán dinámicamente los empleados -->
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="updateCustomer" onclick="update()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg shadow">
    <div class="container-fluid px-4">
        <div class="navbar-brand me-auto">
            <img src="../../../img/logoADM.png" alt="logo" class="logo">
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="top-navbar" aria-labelledby="top-navbarLabel">
            <!--Contenido del navbar-->
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#top-navbar" aria-controls="top-navbar">
                <div class="d-flex justify-content-between p-3">
                    <img src="../../../img/logoADM.png" alt="logo" class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                    </svg>
                </div>
            </button>
            <ul class="navbar-nav ms-lg-auto p-4 p-lg-0">
                <li class="nav-item px-3 px-lg-0 py-1 py-lg-3">
                    <a class="nav-link" href="/client/src/view/admin/car/car-catalog.html">Catálogo</a>
                </li>
                <li class="nav-item px-3 px-lg-0 py-1 py-lg-3">
                    <a class="nav-link" href="/client/src/view/admin/customer/customer.html">Clientes</a>
                </li>
                <li class="nav-item px-3 px-lg-0 py-1 py-lg-3">
                    <a class="nav-link" href="/client/src/view/admin/service/service.html">Servicios</a>
                </li>
                <li class="nav-item px-3 px-lg-0 py-1 py-lg-3">
                    <a class="nav-link" href="/client/src/view/admin/service/service.html">Marcas</a>
                </li>
                <li class="nav-item px-3 px-lg-0 py-1 py-lg-3">
                    <a class="nav-link" href="/client/src/view/admin/employee/employee.html">Empleados</a>
                </li>
            </ul>
        </div>

        <!-- Dropdown de usuario -->
        <div class="dropdown">
            <a class="nav-link mx-2" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z"/>
                  </svg>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown" style="width: 250px;">
                <li><a class="dropdown-item-text text-end" id="user-data"></a></li>
                <li><a class="dropdown-item-text text-end" id="user-role"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <button type="button" class="dropdown-item text-danger" onclick="logout()">Cerrar sesión</button>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler border-0 mt-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#top-navbar" aria-controls="top-navbar">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-car-front" viewBox="0 0 16 16">
                <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0m10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17s2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276"/>
                <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.8.8 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155s4.037-.084 5.592-.155A1.48 1.48 0 0 0 15 9.611v-.413q0-.148-.03-.294l-.335-1.68a.8.8 0 0 0-.43-.563 1.8 1.8 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3z"/>
            </svg>
        </button>

    </div>
</nav>
    <main class="p-3">

        <!-- SECCION DE FILTRO Y BOTON PARA AGREGAR CLIENTE -->
        <section>
            <div class="row justify-content-end align-items-center">
                <!-- Filtro de búsqueda -->
                <div class="col-md-6 text-start">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Filtro de búsqueda" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </button>
                    </form>
                </div>

                <div class="col"></div>
                <!-- Botón para agregar cliente -->
                <div class="col-auto text-end" style="color: #3d728f"><h6>Agregar Cliente</h6></div>
                <div class="col-auto text-end">
                    <button class="btn rounded-circle" style="width: 50px; height: 50px; background-color: #3d728f;"data-bs-toggle="modal" data-bs-target="#customerModal">
                        <img src="../../../img/addIcon.svg">
                    </button>
                </div>
            </div>
        </section>

        <!-- TABLA DE CLIENTES -->
        <div class="table-responsive mt-5">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Empleado</th>
                        <th>Estado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody id="tableCustomers">
                    <tr>
                      
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    </div>
    <script src="../../../js/navbar.js"></script>
    <script src="../../../js/bootstrap.bundle.min.js"></script>
    <script src="../../../js/controller/admin/customer/customer.controller.js"></script>
    <script src="../../../js/sweetalert2.all.min.js"></script>
</body>
</html>
